<h1><%= user.firstname %>'s Profile</h1>

<div class="row">
	<div class="col s4">
		<div>
			<P><strong>Name:</strong><%= user.firstname %> <%= user.lastname %></P>
			<p><strong>Birthday:</strong><%= moment(user.birthday).format('dddd MMMM Do[,] YYYY')%></p>
			<p><strong>Account Created On:</strong> <%=moment(user.createdAt).format('dddd MMMM Do[,] YYYY')%></p>
		</div>
		<div>
			<a href="/list/index">Your Current Shopping List</a>
		</div>
		<div>
			<a href="/recipe/index">Look Up New Recipes</a>
		</div>
		<div>
			<a href="/shopping/index">Let's Go Shopping!</a>
		</div>
	</div>
</div>