<h1>New Recipes For You</h1>

<% recipeData.forEach(r => { %>
<div class="row">
	<form action="/recipe/show" method="POST">
		<div class="col s6">
			<%= r.recipe.label %>
			<input type="hidden" name="label" value="<%= r.recipe.label%>">
			<input type="hidden" name="userId" value="<%= r.userId%>">
			<% r.recipe.ingredients.forEach(i => { %>
				<div>
					<%= i.text %>
				</div>
				<input type="hidden" name="ingredients" value="<%= i.text %>">	
			<% }) %>
			
		</div>
		<div class="col s6">
			<img src="<%= r.recipe.image %>">
			<input type="hidden" name="image" value="<%= r.recipe.image %>">
			<input type="hidden" name="url" value="<%= r.recipe.url%>">
		</div>
		<input type="submit">
	</form>
</div>
<% }) %>